extends base

block navigation
  - var admin = user.isAdmin
  nav
    ul
      li(class={active: current === 'dashboard'})
        a(href="/")
          i.fas.fa-home
      li(class={active: current === 'account'})
        a(href="/account")
          i.fas.fa-user-circle
      li(class={active: current === 'support'})
        a(href="/support")
          i.fas.fa-paper-plane
      if user.isAdmin
        li(class={active: current === 'admin'})
          a(href="/admin")
            i.fas.fa-user-secret
block content
  block main-content