extends form-layout

block form-content
  form(method='POST')
    a(href="/login") Already a member? Log in.

    fieldset
      legend 1. Create an Account
        
      div
        label(for="email") Email*
        input(type='email' name='email' required placeholder="Email Address")

      div
        label(for="firstName") First Name
        input(type="text" name="firstName" placeholder="First Name (optional)")

      div
        label(for="lastName") Last Name
        input(type="text" name="lastName" placeholder="Last Name (optional)")

      div
        label(for="organization") Organization
        input(type="text" name="organization" placeholder="Organization (optional)")

      div
        label(for="phone") Phone
        input(type="tel" name="phone" placeholder="Phone (optional)")

      p.small.pull-right You will create a password after confirming your email address.

    button(type='submit') Submit