extends main-layout


block active
  - var current = 'support'

block main-content
  form(action="" method="POST")
    fieldset
      legend Send Message to Staff
      p Message will be sent directly to the webmaster.

      div
        label(for="ticket") Message
        textarea#ticket(name="ticket", rows="10" placeholder="Message goes here...")
      button Send

  if (tickets)
    fieldset
      legend Previous Messages
      
    .flex-table.flex-table--1cols
      each ticket in tickets
        if ticket.isCompleted
          - var status = 'Completed'
        else if ticket.isAssigned
          - var status = 'Working on It'
        else
          - var status = 'Under Review'
        .flex-table-cell.flex-table-cell--black
          span #{moment(ticket.date).format('MMM d, YYYY, h:mm:ss a')} - #{status}
          p= ticket.content