html
  head
    title #{title} - Zero Daedalus Web
  body
    .wrapper
      block content
        p There is no content here.
      block footer
        footer Crafted by a(href="https://zerodaedalus.com")[Zero Daedalus]