html
  block active
    - var current = '/'
  head
    - var title = 'Welcome'
    title #{title} - Zero Daedalus Web
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css")
    link(rel="stylesheet", href="/assets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700,900,400i,700i,900i")
    script(src="https://js.stripe.com/v3/")
  body
    .hero &nbsp;
    block navigation
    .wrapper
      block content
        p There is no content here.
      p= error
      block footer
        footer 
          | Crafted by 
          a(href="https://zerodaedalus.com") Zero Daedalus
          | .
    block scripts