extends form-layout

block form-content
  form(action="/confirm/resend")
    fieldset
      legend A confirmation email has been sent the email provided.
      button(href="/confirm/resend") Resend Confirmation
    a(href="/login") Sign In