extends form-layout

block form-content
  h2 A confirmation email has been sent to the email provided.
  form(action="/confirm/resend")
    button(href="/confirm/resend") Resend Confirmation
    a.btn.btn-transparent(href="/login") Sign In