extends form-layout

block form-content
  form(method='POST')
    input.emailField.form-fields(type='email' name='email' required placeholder="Email Address")
    input.passwordField.form-fields(type='password' name='password' required placeholder="Password")
    button.signInBtn(type='submit') Sign In
    .sep
    a.createAcctBtn.btn.btn-transparent(href="/signup") Create Account