extends form-layout

block form-content
  form(method='POST')
    input(type='email' name='email' required placeholder="Email Address")
    input(type='password' name='password' required placeholder="Password")
    button(type='submit') Sign In
  a.btn(href="/signup") Create Account