extends form-layout

block form-content
  h2 Welcome
  p Sign in below to access your dashboard.
  form(method='POST')
    input.form-fields(type='email' name='email' required placeholder="Email Address")
    input.form-fields(type='password' name='password' required placeholder="Password")
    button(type='submit') Sign In
    .sep
    a.btn.btn-transparent(href="/signup") Don't have an account? Create one.