extends base

block navigation
  - var admin = user.isAdmin
  nav
    ul
      li(class={active: current === 'dashboard'})
        a(href="/") Home
      li(class={active: current === 'account'})
        a(href="/account") Account
      li(class={active: current === 'support'})
        a(href="/support") Support
      if user.isAdmin
        li(class={active: current === 'admin'})
          a(href="/admin") Admin
block content
  block main-content