extends form-layout

block form-content
  form(method="POST")
    fieldset
      legend Create a Password

      div
        label(for="password") New Password
        input(type="password" placeholder="Password" name="password")

      if user
        div
          label(for="currentPassword") Current Password
          input(type="password" placeholder="Current Password" name="currentPassword")

      button Submit