extends form-layout

block form-content
  form(action="/confirm/resend" method="POST")
    fieldset
      legend Retry Email Confirmation

      div
        label(for="email") Email Address
        input(type="email" name="email" placeholder="Email Address")
      button(type="submit") Retry Confirmation
    a(href="/login") Sign In